/* Full Page */
.auth-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#eaf4ff,#f7fbff);
    padding:20px;
}

/* Login Box */
.auth-box{
    width:420px;
    background:#fff;
    padding:40px;
    border-radius:20px;
    box-shadow:0 15px 35px rgba(0,0,0,.15);
}

/* Heading */
.auth-box h2{
    text-align:center;
    color:#0d6efd;
    margin-bottom:10px;
    font-size:32px;
}

.auth-box p{
    text-align:center;
    color:#666;
    margin-bottom:25px;
}

/* Inputs */
.auth-box input{
    width:100%;
    padding:14px;
    margin-bottom:18px;
    border:1px solid #ddd;
    border-radius:10px;
    font-size:16px;
    box-sizing:border-box;
    transition:.3s;
}

.auth-box input:focus{
    border-color:#0d6efd;
    outline:none;
    box-shadow:0 0 0 3px rgba(13,110,253,.15);
}

/* Button */
.auth-box button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#0d6efd;
    color:white;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.auth-box button:hover{
    background:#084298;
    transform:translateY(-2px);
}

/* Register Text */
.bottom-text{
    text-align:center;
    margin-top:20px;
    color:#555;
}

.bottom-text a{
    color:#0d6efd;
    text-decoration:none;
    font-weight:600;
    margin-left:5px;
}

/* Admin Info */
.admin-info{
    margin-top:25px;
    padding:18px;
    border-radius:12px;
    background:#eef5ff;
    text-align:center;
}

.admin-info h4{
    color:#0d6efd;
    margin-bottom:10px;
}

.admin-info p{
    margin:5px 0;
    color:#333;
}

/* Responsive */
@media(max-width:500px){

.auth-box{
width:100%;
padding:25px;
}

.auth-box h2{
font-size:26px;
}

}