.nav-links{
    display:flex;
    align-items:center;
    gap:22px;
    list-style:none;
}

.admin-user{
    display:flex;
    align-items:center;
    gap:8px;
    color:#fff;
    font-weight:600;
}

.user-icon{
    color:#00c4ff;
    font-size:22px;
}

.logout-btn{
    display:flex;
    align-items:center;
    gap:8px;

    border:none;
    background:#ef4444;
    color:#fff;

    padding:8px 18px;
    border-radius:8px;

    cursor:pointer;
    transition:.3s;
}

.logout-btn:hover{
    background:#dc2626;
}