.department-page{

padding:30px;

}

.department-page h1{

margin-bottom:25px;
color:#1e3a8a;

}

.department-form{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:15px;

margin-bottom:30px;

}

.department-form input{

padding:12px;

border:1px solid #ddd;

border-radius:8px;

font-size:15px;

outline:none;

}

.department-form button{

grid-column:span 3;

padding:12px;

background:#2563eb;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

font-size:16px;

transition:.3s;

}

.department-form button:hover{

background:#1d4ed8;

}

.department-table{

width:100%;

border-collapse:collapse;

background:white;

box-shadow:0 5px 12px rgba(0,0,0,.1);

}

.department-table th{

background:#2563eb;

color:white;

padding:15px;

}

.department-table td{

padding:15px;

text-align:center;

border-bottom:1px solid #ddd;

}

.delete-btn{

padding:8px 18px;

background:#dc2626;

color:white;

border:none;

border-radius:6px;

cursor:pointer;

transition:.3s;

}

.delete-btn:hover{

background:#b91c1c;

}

@media(max-width:768px){

.department-form{

grid-template-columns:1fr;

}

.department-form button{

grid-column:span 1;

}

.department-table{

display:block;

overflow-x:auto;

}

}